body{
    background-color: #1F2739;
    overflow-x: hidden;
}
p {
    color: white;
    font-family: "Roboto Mono", Sans-serif;
    font-size: 32px;
}
img {
    padding: 10px;
    max-width: 500px;
    transition: transform .2s;
}
img:hover {
    transform: scale(1.25); 
}

.first {
    margin-bottom: 80px;
    width: 100%;
    margin-top: 96px;
    margin-left: 0 !important;
    margin-right: 0 !important;
}
.firstrow{
    padding-left:100px ;
}
.second{
    margin-bottom: 80px;
    width: 100%;
}
.secondrow{
    padding-left:100px ;
}
.third{
    margin-bottom: 80px;
    width: 100%;
    background-image: #1F2739;
}
.thirdrow{
    padding-left:100px ;
}
.forth{
    margin-bottom: 80px;
    width: 100%;
}
.forthrow{
    padding-left:100px ;
    padding-right:100px ;
}
.five{
    margin-bottom: 80px;
    width: 100%;
    background-image: #1F2739;
}
.fiverow{
    padding-left:100px ;
    padding-right:100px ;
}
.six{
    margin-bottom: 80px;
    width: 100%;
}
.sixrow{
    padding-left:100px ;
    padding-right:100px ;
}
.seven{
    margin-bottom: 80px;
    width: 100%;
    background-image: #1F2739;
}
.sevenrow{
    padding-left:100px ;
    padding-right:100px ;
}
.eight{
    
    margin-bottom: 180px;
    padding-bottom: 80px;
    border-bottom: solid 2px #333;
    width: 100%;
}
.eightrow{
    padding-left:100px ;
    padding-right:100px ;
}
h6 {
    color: white;
    text-align: end;
    padding-right: 20px;
}

.flag {
    position: absolute;
    top: 10px;
    left: 100px;
}

.flag2 {
    position: absolute;
    top: 10px;
}

.top {
    text-align: center;
    border-radius: 90%;
    position: relative;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-thumb {
    background: grey;
    border-radius: 6px;

}

.btn {
    position: absolute;
    width: 150px;
    height: 53px;
    left: 1300px;
    top: 20px;
    color: white;
    background-color: black;
    border-radius: 90px;
    font-family: "Roboto Mono", Sans-serif;
}

.btn:hover {
    color: red;
}

.btn1 {
    position: absolute;
    width: 150px;
    height: 53px;
    left: 1300px;
    top: 20px;
    color: white;
    background-color: black;
    border-radius: 90px;
    font-family: "Roboto Mono", Sans-serif;
}

.btn1:hover {
    color: red;
}

.btn2 {
    position: absolute;
    width: 150px;
    height: 53px;
    left: 1300px;
    top: 20px;
    color: white;
    background-color: black;
    border-radius: 90px;
    font-family: "Roboto Mono", Sans-serif;
}

.btn2:hover {
    color: red;
}